body {
    background-color: #213b50;

}
input {
    background-color: #2b4a64
}

input:hover {
    background-color: red;
    border: 2px solid yellow;
    color: #fff;
}
input:focus {
    background-color: red;
    border: 2px solid yellow;
    color: #fff;
}

form label {
    display:block;
}


form input, form select {
    margin 
}

form select, textarea, input [type="text"], input [type="tel"], input [type="email"] {
    width: 300px;
    background-color: #2b4a64;
        color: #fffborder:1px solid: #2b4a64;
    height: 25px;
}



form select:focus, textarea:focus, input: {
    background-color:  #4e708c;
}


form input[type="checkbox"] {
    float: left;
}

form input[type="submit"] {
    background-color: #1ac056;
    border: 1px solid #1ac056;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    
    
}


textarea {
    width: 600px;
    height: 150px;
}
input[type="checkbox"] {
    cursor: pointer;
}



